.root-layout {
  @include centered-row();
}

.sidebar {
  @include devBorder();
  @include highlighted-background();
  width: 20rem;
  height: 100vh;
  flex-shrink: 0;
  border-right: 1px solid $primary-color;

  &--header {
    @include centered-row;
    padding: 1rem 0rem;
    border-bottom: 1px solid $primary-color;
  }
  &--nav {
    @include centered-column;
    gap: 0.5rem;
    padding: 1rem 0.5rem;
  }
}
.content {
  width: 100%;
  height: 100vh;
  @include devBorder();
  padding: 1rem 0rem;
}
