// img {
//   width: 100px;
// }
.user-card {
  @include devBorder;
  @include centered-row;
  @include cardDesign;
  height: 150px;

  &__image-area {
    @include centered-row;
    width: 150px;
    height: 150px;
    border-right: 2px solid red;
  }
  &__image {
    width: 100%;
  }

  &__data-area {
    @include centered-column;
    flex-grow: 1;
    //background-color: blueviolet;
  }
}

.structured-data {
  &__head {
    @include centered-row;
    justify-content: space-between;
    width: 100%;
  }

  &__body {
    display: grid;
    justify-content: start;
    width: 100%;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  &__single-data {
    @include centered-row;
    gap: 0.5rem;
    background-color: aliceblue;
  }
}
