.icon {
  width: clamp(0.8rem, 1.5vw, 1rem);
  height: clamp(0.8rem, 1.5vw, 1rem);

  &__delete {
    width: clamp(1rem, 2vw, 1.3rem);
    height: clamp(1rem, 2vw, 1.3rem);
    cursor: pointer;

    color: $red-color;

    &:hover {
      color: $white-color;
      background-color: $red-color;
      border-radius: 100px;
    }
  }
}
