.form {
  label {
    font-weight: 600;
  }

  input,
  select,
  button {
    @include cardDesign;
    border: unset;
    margin-bottom: 1.3rem;
    padding: 0.8rem;
    width: 15rem;
  }

  .submit-btn {
    background-color: $primary-color;
    color: $black-color;
    cursor: pointer;
    border-radius: 6px;
  }
}

@include breakpoint(tablet) {
  .form {
    input,
    select,
    button {
      width: 100%;
    }
  }
}
